.card {
  width: 350px;
  height: 350px;
  border: 1px solid lightgray;
}

.header {
  height: 50px;
  background: lightgray;
  padding: 5px;
}

.title {
  font-style: italic;
  margin-bottom: 10px;
}

.content {
  padding: 5px;
}
